/* ========== All Custom Color ===========*/

// @use './variable';

.bg-primary{
    background-color: $primary;
}

.text-primary{
    color: $primary;
}

.text-secondary{
    color: $text-color;
}

/* ========== All Custom Color ===========*/